/* utilities: */

/* media query */

@media (min-width:710px){

    /* all is bigger  */
    :root{
        font-size: 1.6rem
    }

    
/* this for scrollbar styles */

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
   }
   ::-webkit-scrollbar-thumb {
    background: #050505;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px #000000;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #3d3d3d 0%,#7c7c7c 14%);
   }
   ::-webkit-scrollbar-track{
    background: #4e4d4d;
    border-radius: 10px;
    box-shadow: inset 0px 0px 30px var(--black-background);
   }


}

/* import fot by google */

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
    font-family: 'Hammersmith One', sans-serif;
    background-color: var(--gray-background);
    /* font-size: 1.6rem; */
    color: var(--font-color);
    --font-color: rgb(233, 232, 232);
    --black-background: rgb(46, 45, 45);
    --gray-background: rgb(61, 59, 59);
    --star-size: 22px;
    --star-color: rgba(105, 103, 103, 0.459);
    --star-background: #fc0;

}

/* this for remove blue on action */
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  


/* toast for search-bar */

.search-toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 15rem; /* Set a default minimum width */
    margin-left: -8rem; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: .6rem; /* Rounded borders */
    padding: 1rem; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 100px; /* 30px from the bottom */
}

    /* Show the toast when clicking on a button (class added with JavaScript) */
.search-toast.is-show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


    /* Animations to fade the snackbar in and out */
 @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* oter utilites generic*/

.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/* nav primary */

.nav-pr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--black-background);
    color: var(--font-color);
}

.search-toggle {
    margin-right: 1rem;
}

.home-link {
    text-decoration: none;
    color: rgb(233, 7, 7);
    margin-left:  1rem;
}

/* this for move body down becouse navbar cover him */
.go-down {
    height: 4rem;
}

/* stripe styles */
.stripe-movies {
    width: 100%;
    background-color: var(--black-background);
    overflow: scroll;
}

/* card movie */
.card-link {
    text-decoration: none;
    color: var(--font-color);
}

.card-movie {
    height: 16rem;
    width: 9rem;
    /* background-color: beige; */
    margin: 1rem;
    flex-shrink: 0;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
    transition-duration: 300ms;
}

.card-movie:active {
    box-shadow: none;
    border: solid black 1px;
}

.card-movie:hover {
    transform: scale(1.1,1.1);
    
}

.card-movie-img {
    height: 65%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; 
    /* // make sure ★ appears correctly */
    line-height: 1;
    


}

.stars:before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card-movie-title {
    margin: 0;
}

/* for movie page */

.movie_img {
    width: 100%;
}

.movie_title,
.movie_year,
.movie_length,
.movie_description,
.movie_cast,
.movie_direction {
    padding: .5rem;
}

